html{
    background-color: hsl(220, 15%, 55%);
    
}

.container{
    text-align: center;
    /* border: 1px solid; */
    background-color: white;
    width: 250px;
    height: 400px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container img{
    width: 200px;
    height: 200px;
     text-align: center;
    padding: 10px;
    border-radius: 30px;
    position: relative;
    
}

.container p{
    font-size: 15px;
}


